<div class="container-fluid">
<%= @questions.each_slice(3) do |sliced_questions| %>
  <div class="row">
    <% sliced_questions.each do |question| %>
      <div class="col-md-4">
        <strong>Subject:</strong><a href="/questions/<%= question.id %>"><%= question.subject %></a>
        <br>
        <strong>From:</strong><%= question.name %>
        <br>
        <strong>Email:</strong> <%= question.email %>
        <% if current_admin %>
          <a href="/questions/<%=question.id %>" role="button" title="View Question"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> </span></a> <span><%= link_to "Delete", question, :method => :delete %></span>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
<div class="my-pagination">
  <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
</div>
<h2> Replied Question:</h2>
<hr class="line-separation">
<%= @repliedQuestions.each_slice(3) do |sliced_questions| %>
  <div class="row">
    <% sliced_questions.each do |question| %>
      <div class="col-md-4">
        <strong>Subject:</strong><a href="/questions/<%= question.id %>"><%= question.subject %></a>
        <br>
        <strong>From:</strong><%= question.name %>
        <br>
        <strong>Email:</strong> <%= question.email %>
        <% if current_admin %>
          <a href="/questions/<%=question.id %>" role="button" title="View Question"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> </span></a> <span><%= link_to "Delete", question, :method => :delete %></span>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>


</div>

