<div class="container-fluid">
  <%= form_for(@admin, url: admin_path, method: "patch") do |f| %>
    <div class="form-group">
     <label for="inputEmail" class="col-lg-2 control-label">Name</label>
     <div class="col-lg-10">
       <%=  f.text_field :name, class: "form-control", style: "width: 300px;"%><br>
     </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
      <br>
       <%=  f.text_field :email, class: "form-control", style: "width: 300px;"%><br>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Identity</label>
      <div class="col-lg-10">
       <%=  f.text_field :identity, class: "form-control", style: "width: 300px;"%><br>
      </div>
    </div>

    <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
       <%= f.submit "Submit", class: "btn btn-primary" %>
     </div>
    </div>
  <% end %>
</div>