<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <% if current_admin %>
      <p class="text-center"><%= link_to "New Post", new_post_path %></p> 
      <%= link_to "Logout", "/admin_out", :method => :delete %>
      <% end %>
      <% @posts.each do |post| %>
        <h2 style="font-family: cursive; font-size: 20px;"><%= link_to post.title, post%></h2>
        <p style="font-family: cursive; font-style: italic; font-size: 16px;"><%= truncate post.intro.html_safe, length: 350%> | <%= link_to 'Read More', post %></p>
        <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
      <% end %>
    </div>
    <div class="col-xs-3">
      <a href="https://twitter.com/luc_wizz" class="twitter-follow-button" data-show-count="false">Follow @luc_wizz</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="twitter-timeline"  data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/luc_wizz">Tweets by luc_wizz</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

