<div class="container">
  <div class="row">
    <div class="col-md-08">
    <p class="text-center"><%= link_to "New Post", new_post_path %></p> 
          <% @posts.each do |post| %>
            <h2><%= link_to post.title, post%></h2>
            <p><%= truncate post.body.html_safe, length: 250 %> | <%= link_to 'Read More', post %></p>
            <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
          <% end %>
    </div>
  </div>
</div>

