<!DOCTYPE html>
<html>
  <head>
    <title>Nexpals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">  
  </head>

<body>


  <% unless controller.controller_name == "pages" && controller.controller_path=="home" %>
 
 <!-- entire navbar -->
  <div style="background-color: #145776; height: 45px;">
  <!-- Nex Webstore -->

  <!-- Trigger the modal with a button -->
  <button  type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 40px; margin-top: 5px; padding: 0px;  background-color:transparent; border-color: transparent; height: 30px;" title="Nex WebStore">
    <div class="glyphicon glyphicon-th" style="color: #cdd2d5; font-size: 30px;"></div>
  </button>


  <!-- Modal -->


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="background-color: #DCDCDC; height: 420px; margin-left: 20px;">
      
        <div class="thumbnail" style="background-color: #008080; margin: 20px;"> 
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title text-center white"><b>Nex WebStore</b></h1>
        </div>

        <div class="modal-body">
        <div class="thumbnail" style="height: 300px; overflow: scroll; margin-top: -15px;">
          



          <!-- first row -->
          <div class="col-md-12">

            <div class="col-md-4">

              <div class="thumbnail" style="
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              background-color:   #E6E6FA;
              margin: 20px;
              height: 100px;
              width: 100px;
              text-align: center;
              border-radius: 50%;">

              <br>

              <div class="text-center glyphicon glyphicon-briefcase" style="font-size: 50px;color:#000080;">
              </div>

            </div>
            <h4 class="text-center" style="color:#000080;">250Schools</h4>
          </div>


          <div class="col-md-4">

            <div class="thumbnail" style="
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color:   #E6E6FA;
            margin: 20px;
            height: 100px;
            width: 100px;
            text-align: center;
            border-radius: 50%;">

            <br>


            <div class="text-center glyphicon glyphicon-education" title="Education Services" style="font-size: 50px; color: #228B22;"></div>
          </div>
          <h4 class="text-center" style="color: #228B22;">Ikigugu</h4>
        </div>

        <div class="col-md-4">

          <div class="thumbnail" style="
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background-color:   #E6E6FA;
          margin: 20px;
          height: 100px;
          width: 100px;
          text-align: center;
          border-radius: 50%;">

          <br>


          <div class="text-center glyphicon glyphicon-lamp" title="Developping & designing Static and Dynamic Websites" style="font-size: 50px; color:    #F4A460;"></div>
        </div>
        <h4 class="text-center" style="color:   #F4A460;">Ibyiwacu</h4>

      </div>
    </div>

    <!-- second row -->

    <div class="col-md-12">

      <div class="col-md-4">

        <div class="thumbnail" style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color:   #E6E6FA;
        margin: 20px;
        height: 100px;
        width: 100px;
        text-align: center;
        border-radius: 50%;">

        <br>

        <div class="text-center glyphicon glyphicon-briefcase"
        style="font-size: 50px;color:#000080;">
      </div>

    </div>
    <h4 class="text-center" style="color:#000080;">250Schools</h4>
  </div>


  <div class="col-md-4">

    <div class="thumbnail" style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:   #E6E6FA;
    margin: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;">

    <br>


    <div class="text-center glyphicon glyphicon-education" title="Education Services" style="font-size: 50px; color: #228B22;"></div>
  </div>
  <h4 class="text-center" style="color: #228B22;">Ikigugu</h4>
</div>

<div class="col-md-4">

  <div class="thumbnail" style="
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:   #E6E6FA;
  margin: 20px;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;">

  <br>


  <div class="text-center glyphicon glyphicon-lamp" title="Developping & designing Static and Dynamic Websites" style="font-size: 50px; color:    #F4A460;"></div>
</div>
<h4 class="text-center" style="color:   #F4A460;">Ibyiwacu</h4>

</div>
</div>

</div>

</div>

</div>

</div>
</div>


<!-- navbar -->
<ul class="nav navbar-nav navbar-right">

  <li><a href="/" class="glyphicon glyphicon-home" title="home" style="color: #cdd2d5;"></a></li>
  <li><a href="/posts"  title="Updates" style="color: #cdd2d5;"><b>Blog</b></a></li>
  <li><a href="/services"  title="Services" style="color: #cdd2d5;"><b>Services</b></a></li>
  <li><a href="/projects"  title="Projects" style="color: #cdd2d5;"><b>Projects</b></a></li>
  <li><a href="/members"  title="Team" style="color: #cdd2d5;"><b>Team</b></a></li>
  <li><a href="/contactus"  title="Contact Us" style="color: #cdd2d5;"><b>Contact Us</b></a></li>
  <li><a href="/aboutus"  title="About Us" style="color: #cdd2d5;"><b>About Us</b></a></li>

</ul>
</div>
<% end %>

<div class="container-fluid">

    <p>
      <% flash.each do |key, value| %>
      <% alert_class = case key
      when :notice then "success"
      when :alert then "danger"
      else key
       end %>
       <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <%= value %>
       <% end %>
       <% end %>
    </p>
</div>
    <%= yield %>


    <!-- footer -->

<% unless controller.controller_name == "pages" && controller.controller_path=="home" %>



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>

  <div class="footer" style="background-color: #145776; padding-bottom: 0px;">
    <div class="container-fluid">
      <div class="row">
       <div>
        <!-- <div class="footer-bottom"> -->
        <div class="col-md-2 bottom-features">                  
          <a href="/faqs" class="black col-md-6" style="color: white;">FAQs</a>
          <a href="/testmonies" class="black col-md-6" style="color: white;">Reviews</a>
        </div> 

        <div class="col-md-7 bottom-features">
          <div class="col-md-12">
          <%= render "news_letters/form" %>
          </div>
        </div>

        <div class="col-md-3">

            <ul class="social">
              <li> <a href="#"> <i class="fa fa-envelope-square fa-3x social">   </i> </a> </li>
              <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
            </ul>
            <br> <br>
           <p style="color: white;"> ©NexPals 2017. All right reserved</p>

        </div>
      </div> 
      </div>
    </div>
  </div>
</footer>

<% end %>

  </body>
</html>