<div class="container-fluid">
  <%= @member.name%>
  <br>
  <img src="<%= @member.photo %>"/><br>
  <br>
  <%= @member.title %><br>
  <br>
  <%= @member.email %><br>
  <br>
  <%= @member.phone %><br>
  <br>
  <%= @member.location %><br>
  <br>
  <%= @member.short_bio.html_safe %><br>
</div>
<%= link_to "Edit", edit_member_path(@member) %>
<%= link_to "Remove", member_path(@member), method: :delete, data: {confirm: "Are you sure you want to remove #{@member.name}?"} %>