<div class="container-fluid">
  <%= @member.first_name %>
  <br>
  <%= @member.last_name %>
  <br>
  <%= @member.title %>
  <br>
  <%= @member.email %>
  <br>
  <%= @member.phone %>
  <br>
  <%= @member.location %>
  <br>
  <%= @member.short_bio %>
</div>
<%= link_to "Edit", edit_member_path(@member) %>
<%= link_to "Remove", member_path(@member), method: :delete, data: {confirm: "Are you sure you want to remove #{@member.first_name}?"} %>